{% extends 'base_admin.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h2>Bienvenue sur le Backoffice</h2>
    <h3>Vous êtes connecté en tant que: {{ app.user.email }}{% if is_granted("ROLE_ADMIN") %} <span class="badge bg-primary">ADMIN</span>{% endif %}</h3>

    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Qu'est-ce que je peux y faire?</h2>
                </div>
                <div class="card-body">
                    <p>C'est ici que sont paramétrables la plupart des éléments du site</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
