{% extends 'base_admin.html.twig' %}

{% block title %}Section "Galerie"{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h2>Gérer la section "Galerie"</h2>
        </div>
    </div>

{{ form(form) }}


{% endblock %}
