{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle photo{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h2>Créer une photo de galerie</h2>
        </div>
    </div>

    {{ form(form) }}


{% endblock %}
