<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="{{ asset('build/images/bela_logo_sm.png') }}" alt=" " width="40" class="p-r-5">
        <span class="fs-4"> BelaJardins.fr</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {{ aside_menu.render|raw }}
    </ul>
    <hr>
    <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion </a>
</div>
